In [2]:
import pandas as pd
import json
import random
from surprise import Reader, Dataset
from surprise.model_selection import train_test_split, cross_validate, GridSearchCV
from surprise import KNNBasic, KNNWithMeans, KNNWithZScore, KNNBaseline, SVD
from surprise import accuracy

In [46]:
# random sampling of data: To be done only once

# df = pd.read_csv("okcupid_profiles.csv")
# weights = {
#     ('straight', 'm'): 1,
#     ('straight', 'f'): 1,
#     ('gay', 'm'): 0.5,
#     ('gay', 'f'): 0.5,
#     ('bisexual', 'm'): 0.5,
#     ('bisexual', 'f'): 0.5
# }
# n = 10000
# # Calculate the weight for each row based on orientation and sex
# df['weight'] = df.apply(lambda row: weights.get((row['orientation'], row['sex']), 0), axis=1)

# # Sample n rows with replacement based on the weights
# sampled_df = df.sample(n=n, replace=True, weights='weight')

# # Drop the weight column
# sampled_df.drop(columns=['weight'], inplace=True)

# sampled_df.count()
# group_counts = sampled_df.groupby(['orientation', 'sex']).size()
# print(group_counts)
# # sampled_df.to_csv('okcupid_profile_data.csv',index=False)

In [3]:
dataset = pd.read_csv("okcupid_profile_data.csv")
dataset.insert(0, 'ID', range(0, len(dataset)))

dataset.head()
dataset.count()
dataset['orientation'].unique()
dataset.isnull().sum()

group_counts = dataset.groupby(['orientation', 'sex']).size()
print(group_counts)
# dataset['sex'].unique()

orientation  sex
bisexual     f       178
             m        69
gay          f       142
             m       387
straight     f      3676
             m      5548
dtype: int64

In [4]:
# adding possible matches according to sex and orientation : not required

males = list(dataset[dataset['sex'] == 'm']["ID"])
females = list(dataset[dataset['sex'] == 'f']["ID"])
both = males + females

dataset['possible_match_ids'] = dataset.apply(lambda row:  
                                         females if row['sex'] == 'm' and row['orientation'] == 'straight' 
                                         else (males if row['sex'] == 'f' and row['orientation'] == 'straight'
                                            else (males if row['sex'] == 'm' and row['orientation'] == 'gay'
                                                else (females if row['sex'] == 'f' and row['orientation'] == 'gay'
                                                    else both      
                                                     )))
                                         , axis=1)
dataset.head()

,ID,age,status,sex,orientation,body_type,diet,drinks,drugs,education,...,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9,possible_match_ids
0,0,35,single,m,straight,fit,NaN,socially,NaN,graduated from masters program,...,i do the corporate tech industry grind at an a...,what am i not good at? i am a jack of all trad...,i'm going to go with humor. or that i am just ...,"film: robert altman, coen brothers, terry gill...","well, when the world goes into economic and po...","art/film projects, the world's politics and ec...","lounging around the house watching tv/movie, e...","well, it's really not that private, but i weav...",if the above seems interesting and you fit at ...,"[3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ..."
1,1,27,single,m,straight,athletic,mostly anything,socially,never,graduated from masters program,...,right now i'm working on my ph.d. in stanford....,listening to people. learning new skills. tole...,i got a twin brother who also does his ph.d. a...,books: generally investigative journalism movi...,music friends sunshine ice cream sports iphone,...how to make people laugh ...how to make the...,...up for anything but staying at home!,ask me.,you wanna know more about me :),"[3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ..."
2,2,31,single,m,straight,fit,NaN,socially,never,working on masters program,...,finishing graduate school. will be going for a...,"cooking italian/roman specialties, translating...","easy going, white teeth, nice shoes.","movies: bill and ted's excellent adventure, th...",family and friends strong coffee music beads o...,it might sound cliche but its true: how to liv...,ideally a live music show or having dinner wit...,have three visible scars on my body.,"you want to leisurely enjoy sf, want to get a ...","[3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ..."
3,3,28,single,f,straight,average,NaN,not at all,never,graduated from college/university,...,i've been in real estate for most of my career...,"salsa dancing, hula hooping, singing, dancing ...",that i can get along and find something in com...,"books: too many to list! angela's ashes, ready...",lucy the greatest dog ever live music stimulat...,"the present, the next fun thing, my career, my...","salsa dancing or dancing with friends, going t...","when i'm in a really good mood, or if im in a ...",you aren't at all sneaky creepy ... you're pas...,"[0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ..."
4,4,24,single,f,straight,average,mostly anything,socially,NaN,graduated from college/university,...,well i just got a job working as a program spe...,directions! my friends and family joke that i'...,NaN,"books: harry potter, nicholas sparks books (gu...",family friends books music i'll come up with t...,the power of our thoughts. and now that i just...,probably enjoying a quiet night to wind down f...,NaN,~ you made it this far ~ you're looking for so...,"[0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ..."

In [5]:
# read compatibility scores from file

import json
comp_scores = "compatibility.json"
with open(comp_scores) as f:
    comp_scores = json.loads(f.read())

def get_dict(row):
    return comp_scores.get(str(row['ID']), {})

# Adding new column with corresponding dictionary
dataset['top_compatible'] = dataset.apply(get_dict, axis=1)
test_dataset = dataset[dataset['top_compatible'] != {}]
len(test_dataset)

0

In [6]:
# add random compatibility scores - temp solution
def get_dict(row):
    index = [random.randint(0, 9999) for _ in range(50)]
    score = [random.random() for _ in range(50)]
    return({'index':index, 'score':score})

dataset['top_compatible'] = dataset.apply(get_dict, axis=1)

In [7]:
# generating compatibility dataset of size n * 50
compatibility_data = {'ID': [], 'compatible_ID': [], 'compatibility_score': []}
for index, row in dataset.iterrows():
    id_value = row['ID']
    compatible_ids = row['top_compatible']['index']
    compatibility_scores = row['top_compatible']['score']
    
    # Appending data for each compatible ID
    for compatible_id, compatibility_score in zip(compatible_ids, compatibility_scores):
        compatibility_data['ID'].append(id_value)
        compatibility_data['compatible_ID'].append(compatible_id)
        compatibility_data['compatibility_score'].append(compatibility_score)

compatibility_data = pd.DataFrame(compatibility_data)
# compatibility_data.head()
len(compatibility_data)

500000

In [8]:
# creating a surprise object

reader = Reader(rating_scale=(0, 1))
data   = Dataset.load_from_df(compatibility_data, reader)


# Split the data into training & testing sets. Python's surprise documentation has the steps detailed out
# https://surprise.readthedocs.io/en/stable/FAQ.html

raw_ratings = data.raw_ratings
random.shuffle(raw_ratings)                 # shuffle dataset

threshold   = int(len(raw_ratings)*0.8)

train_raw_ratings = raw_ratings[:threshold] # 80% of data is trainset
test_raw_ratings  = raw_ratings[threshold:] # 20% of data is testset

data.raw_ratings = train_raw_ratings        # data is now the trainset
trainset         = data.build_full_trainset() 
testset          = data.construct_testset(test_raw_ratings)

In [9]:
# Trying KNN (K-Nearest Neighbors) & SVD (Singluar Value decomposition) algorithms using default model parameters

models=[KNNBasic(),KNNWithMeans(),KNNWithZScore(),KNNBaseline(),SVD()] 
results = {}

for model in models:
    # perform 5 fold cross validation
    # evaluation metrics: mean absolute error & root mean square error
    CV_scores = cross_validate(model, data, measures=["MAE","RMSE"], cv=5, n_jobs=-1)  
    
    # storing the average score across the 5 fold cross validation for each model
    result = pd.DataFrame.from_dict(CV_scores).mean(axis=0).\
             rename({'test_mae':'MAE', 'test_rmse': 'RMSE'})
    results[str(model).split("algorithms.")[1].split("object ")[0]] = result

In [10]:
performance_df = pd.DataFrame.from_dict(results)
print("Model Performance: \n")
performance_df.T.sort_values(by='RMSE')

Model Performance:

                                MAE      RMSE  fit_time  test_time
matrix_factorization.SVD   0.262844  0.309838  3.025808   0.551444
knns.KNNBasic              0.283953  0.342702  3.243219   2.147061
knns.KNNBaseline           0.284609  0.343441  2.908174   2.261356
knns.KNNWithZScore         0.284818  0.344020  2.966284   2.224580
knns.KNNWithMeans          0.285346  0.344542  2.710480   2.061376

In [13]:
reader = Reader(rating_scale=(0, 1))
data = Dataset.load_from_df(compatibility_data, reader)
trainset = data.build_full_trainset()

In [18]:
def generate_recommendationsKNN(userID=13552, like_recommend=5, get_recommend =10):
    
    ''' This function generates "get_recommend" number of book recommendations using 
        KNNWithMeans & item based filtering. The function needs as input three 
        different parameters:
        (1) userID i.e., userID for which recommendations need to be generated 
        (2) like_recommend i.e., number of top recommendations for the userID to be 
        considered for making recommendations 
        (3) get_recommend i.e., number of recommendations to generate for the userID
        Default values are: userID=13552, like_recommend=5, get_recommend=10
    '''
    
    # Compute item based similarity matrix
    sim_options       = {'name':'cosine','min_support':3,'user_based':True}
    similarity_matrix = KNNWithMeans(sim_options=sim_options).fit(trainset).\
                        compute_similarities() 
    
    userID      = trainset.to_inner_uid(userID)    # converts the raw userID to innerID
    userRatings = trainset.ur[userID]              # method .ur takes user innerID & 
                                                   # returns back user ratings
    
    
    # userRatings is a list of tuples [(,),(,),(,)..]. Each tuple contains item & rating
    # given by the user for that item. Next, the tuples will be sorted within the list 
    # in decreasing order of rating. Then top 'like_recommend' items & ratings are extracted
    
    temp_df = pd.DataFrame(userRatings).sort_values(by=1, ascending=False).\
              head(like_recommend)
    userRatings = temp_df.to_records(index=False) 
    
    # for each (item,rating) in top like_recommend user items, multiply the user rating for
    # the item with the similarity score (later is obtained from item similarity_matrix) for
    # all items. This helps calculate the weighted rating for all items. The weighted ratings 
    # are added & divided by sum of weights to estimate rating the user would give an item
    
    recommendations   = {}

    for user_top_item, user_top_item_rating  in userRatings:

        all_item_indices          =   list(pd.DataFrame(similarity_matrix)[user_top_item].index)
        all_item_weighted_rating  =   list(pd.DataFrame(similarity_matrix)[user_top_item].values*\
                                          user_top_item_rating)
        
        all_item_weights          =   list(pd.DataFrame(similarity_matrix)[user_top_item].values)
        
        
        # All items & final estimated ratings are added to a dictionary called recommendations
        
        for index in range(len(all_item_indices)):
            if index in recommendations:
                # sum of weighted ratings
                recommendations[index] += all_item_weighted_rating[index]        
            else:                        
                recommendations[index]  = all_item_weighted_rating[index]

    
    for index in range(len(all_item_indices)):                               
            if all_item_weights[index]  !=0:
                # final ratings (sum of weighted ratings/sum of weights)
                recommendations[index]   =recommendations[index]/\
                                          (all_item_weights[index]*like_recommend)
                      

    # convert dictionary recommendations to a be a list of tuples [(,),(,),(,)]
    # with each tuple being an item & estimated rating user would give that item
    # sort the tuples within the list to be in decreasing order of estimated ratings

    temp_df = pd.Series(recommendations).reset_index().sort_values(by=0, ascending=False)
    recommendations = list(temp_df.to_records(index=False))
    
    # return get_recommend number of recommedations (only return items the user 
    # has not previously rated)
    
    final_recommendations = []
    count = 0
    
    for item, score in recommendations:
        flag = True
        for userItem, userRating in trainset.ur[userID]:
            if item == userItem: 
                flag = False       # If item in recommendations has not been rated by user, 
                break              # add to final_recommendations
        if flag == True:
            final_recommendations.append(trainset.to_raw_iid(item)) 
            count +=1              # trainset has the items stored as inner id,  
                                   # convert to raw id & append 
            
        if count > get_recommend:  # Only get 'get_recommend' number of recommendations
            break
    
    return(final_recommendations)

In [19]:
recommendationsKNN = generate_recommendationsKNN(userID=2, like_recommend=5, get_recommend=10)
recommendationsKNN

Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.

[8664, 2562, 5515, 4448, 749, 1755, 1575, 8485, 169, 1217, 3099]

In [16]:
ids_to_match = [2, 4870, 1491, 7875, 7011, 4145, 2551, 9707, 3455, 21, 3119, 4575]
matched_rows = dataset[dataset['ID'].isin(ids_to_match)]
print(matched_rows)

        ID  age     status sex orientation body_type               diet  \
2        2   31     single   m    straight       fit                NaN
21      21   26     single   f    bisexual     curvy  mostly vegetarian
1491  1491   29     single   m    straight       NaN                NaN
2551  2551   41     single   m    straight  athletic       mostly other
3119  3119   43     single   m    straight  athletic                NaN
3455  3455   32     single   m    straight   average                NaN
4145  4145   34     single   m    straight   average    mostly anything
4575  4575   38  available   m    bisexual       NaN                NaN
4870  4870   28     single   m    straight       fit                NaN
7011  7011   32     single   f    straight   average                NaN
7875  7875   30     single   f         gay   average           anything
9707  9707   41     single   m    straight   average  strictly anything

          drinks      drugs                          education  ...  \
2       socially      never         working on masters program  ...
21      socially      never         working on masters program  ...
1491  not at all      never                                NaN  ...
2551    socially  sometimes     graduated from masters program  ...
3119    socially      never     graduated from masters program  ...
3455    socially      never    graduated from two-year college  ...
4145       often        NaN         working on masters program  ...
4575    socially        NaN                                NaN  ...
4870      rarely      never  graduated from college/university  ...
7011    socially        NaN            working on ph.d program  ...
7875    socially      never                                NaN  ...
9707    socially      never              working on space camp  ...

                                                 essay2  \
2     cooking italian/roman specialties, translating...
21    singing (no really...i'm a professional musici...
1491                                                NaN
2551  being present and listening. i'm accountable: ...
3119                                                NaN
3455  listening and mediating. i love giving advice....
4145  organizing events, hosting, connecting people ...
4575  procrastinating, listening, pontificating, snu...
4870  reading people, appreciating the basics, danci...
7011  pretending to be comfortable with parallel par...
7875                       rotating your tires. yep. :)
9707  skiing, cooking, having fun while traveling, a...

                                                 essay3  \
2                  easy going, white teeth, nice shoes.
21    my fro (if i let it out to play), my laugh (it...
1491                                                NaN
2551  i dress most days for speed and functionality,...
3119             my smile and comfortable confidence...
3455                                                NaN
4145  i don't know... no one's ever told me "the fir...
4575  the braided beard, or perhaps the utilikilt. n...
4870                                            my wit.
7011                            i'm usually smiling. ;)
7875                          my hair. it's impressive.
9707  eyes, i guess, that and my stunning personalit...

                                                 essay4  \
2     movies: bill and ted's excellent adventure, th...
21    music: too many to mention but here area few :...
1491                                                NaN
2551  always reading (right now its the millenium tr...
3119                                                NaN
3455  i love food! i like spicy, i like sushi, i lik...
4145  music: so much stuff... james brown, michael j...
4575  books/authors: oh boy, too many but here goes....
4870  books- franny and zooey / salinger atlas shrug...
7011  books... to kill a mockingbird. the impossible...
7875  books, too many to list. i listen to anything ...
9707  books: here's a few of my favorites... animal ...

                                                 essay5  \
2     family and friends strong coffee music beads o...
21    my sisters my best friends music my laptop (it...
1491                                                NaN
2551  desire, spice in food and life, motion, progre...
3119  my family, my friends, my macbook pro, great w...
3455                                                NaN
4145  music, friends, art, family, nature, exercise,...
4575  actually i'm pretty adaptable, so the only thi...
4870  travel music family / friends goals exercise o...
7011  i try not to get too attached to things, but h...
7875  greenleftpocket (she wrote that in) friends la...
9707  family & friends  red wine  the internets  tac...

                                                 essay6  \
2     it might sound cliche but its true: how to liv...
21    music, new hiking trails i want to explore, ca...
1491                                                NaN
2551                                                NaN
3119                                                NaN
3455                                                NaN
4145  well, art these days. i'm in art school, so ye...
4575  alternative political structures, especially s...
4870               what i'm doing and where i'm headed.
7011  my studies. how to make the world a little bit...
7875  sex oviouslly, my next meal, my next vacation,...
9707              how i can fit more hours into my day.

                                                 essay7  \
2     ideally a live music show or having dinner wit...
21    i play it by ear and keep it diverse and inter...
1491                                                NaN
2551                                                NaN
3119                                                NaN
3455                                                NaN
4145  painting in the studio, hanging with friends a...
4575  i did a lot of going out when i was younger, n...
4870                                                NaN
7011  debating between staying in with friends or ho...
7875  could be out with friends, could be at home wi...
9707  dinner and drinks with friends, a concert, or....

                                                 essay8  \
2                  have three visible scars on my body.
21    for the life of me, i am never wearing a match...
1491                                                NaN
2551  not interested in falling in love but know eve...
3119                                                NaN
3455  i'm a mild social phobic. i'm working on that....
4145  it wouldn't be private if i admitted it here, ...
4575  i want to be the meat in a patrick stewart and...
4870                                                NaN
7011                    if you meet me, you can ask me.
7875  if you wanna know what happens behind closed d...
9707  i got tattooed with a guitar string when i was...

                                                 essay9  \
2     you want to leisurely enjoy sf, want to get a ...
21    you are: a big sweetie, i love considerate con...
1491                                                NaN
2551  you are bored and want to have some fun. never...
3119  you are balanced, down-to-earth, loving, famil...
3455  this is kind of a silly question. why should i...
4145  you want to explore new spots in sf/oakland fo...
4575  -you know great places to go hiking in the bay...
4870  you're equally motivated, passionate, sincere ...
7011                          you think we'd get along.
7875  you have an la face with an oakland booty. you...
9707  you're looking for someone to share adventures...

                                     possible_match_ids  \
2     [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
21    [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
1491  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
2551  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
3119  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
3455  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
4145  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
4575  [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
4870  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
7011  [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
7875  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
9707  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...

                                         top_compatible
2     {'index': [3990, 1043, 3429, 1106, 7823, 1416,...
21    {'index': [8400, 5300, 2395, 4401, 9556, 5021,...
1491  {'index': [621, 9899, 7840, 689, 7188, 4605, 8...
2551  {'index': [202, 5330, 6227, 1888, 3422, 3229, ...
3119  {'index': [8578, 6260, 6361, 831, 9761, 9633, ...
3455  {'index': [7890, 9536, 2752, 473, 6135, 7477, ...
4145  {'index': [9383, 3656, 2528, 9475, 6905, 7671,...
4575  {'index': [8164, 7146, 2182, 9197, 8855, 4462,...
4870  {'index': [6100, 8189, 4709, 8862, 7461, 8155,...
7011  {'index': [6295, 2355, 8124, 4618, 8736, 3540,...
7875  {'index': [354, 5955, 8130, 7918, 6185, 5176, ...
9707  {'index': [2149, 7744, 3241, 5783, 2388, 9371,...

[12 rows x 34 columns]

In [20]:
ids_to_match = [2, 8664, 2562, 5515, 4448, 749, 1755, 1575, 8485, 169, 1217, 3099]
matched_rows = dataset[dataset['ID'].isin(ids_to_match)]
print(matched_rows)

        ID  age     status sex orientation body_type               diet  \
2        2   31     single   m    straight       fit                NaN
169    169   34     single   f    straight       fit  mostly vegetarian
749    749   48     single   f    straight  athletic                NaN
1217  1217   42     single   m    straight       fit  strictly anything
1575  1575   26     single   m    straight       fit    mostly anything
1755  1755   33     single   f    straight   average                NaN
2562  2562   19     single   f    straight   average                NaN
3099  3099   34     single   m    straight   average  mostly vegetarian
4448  4448   32  available   m    straight   average  strictly anything
5515  5515   27     single   f    straight    skinny    mostly anything
8485  8485   27     single   f    straight   average    mostly anything
8664  8664   54     single   m    straight    skinny                NaN

          drinks  drugs                          education  ...  \
2       socially  never         working on masters program  ...
169     socially    NaN                 college/university  ...
749     socially  never                                NaN  ...
1217    socially  never     graduated from masters program  ...
1575    socially  never  graduated from college/university  ...
1755    socially  never     graduated from masters program  ...
2562  not at all  never      working on college/university  ...
3099       often  never     graduated from masters program  ...
4448       often    NaN  dropped out of college/university  ...
5515    socially  never  graduated from college/university  ...
8485    socially  never  graduated from college/university  ...
8664    socially  never          graduated from space camp  ...

                                                 essay2  \
2     cooking italian/roman specialties, translating...
169   making people feel special, writing, trivia, s...
749     being a mom, friend and cooking a yummy dinner!
1217                  cooking, especially italian food.
1575  maintaining and building friendships. i'm alwa...
1755  planning a trip....drinking coffee....going to...
2562  disagreeing being open minded thinking about m...
3099  exhibiting a sense of humor even during the mo...
4448  - being dapper - making people laugh - carryin...
5515                                                NaN
8485                                                NaN
8664  im a good problem solver, great at my job, eve...

                                                 essay3  \
2                  easy going, white teeth, nice shoes.
169                          pretty eyes, pirate smile.
749                            how tall i am. my smile.
1217  the loud laugh, blunt honesty, and the shaved ...
1575  mayyyyyyybe my height, i guess being 6'6 makes...
1755                                                NaN
2562  my serious expression. my willingness to discl...
3099  my boundless energy...and the fact i generally...
4448  my hats and my mustachio. i'm either dressed v...
5515  rude and unfriendly (most of my friends said i...
8485                                                NaN
8664  my 2 left feet on the dance floor, that no mat...

                                                 essay4  \
2     movies: bill and ted's excellent adventure, th...
169   books: historical fiction, biographies, never ...
749                                                 NaN
1217  books: omnivores dilemma, audacity of hope, gi...
1575  i listen to all genres of music but house musi...
1755  books: i am a chick-lit type of gal, but i can...
2562                                                NaN
3099                      so cliched. i'm not answering
4448  i always find this section difficult to fill o...
5515  the latest one for book is 'divergent' series ...
8485                                                NaN
8664  i like oldies music, italian food, more movies...

                                                 essay5  \
2     family and friends strong coffee music beads o...
169   sailboats southern food music facetime yoga ma...
749                         my son, friends and family!
1217  steady wind, an ebb tide, waves, sushi, tequil...
1575  the people i love cheese laughing car (at leas...
1755  friends/family (does that count as one?)  my d...
2562           air food shelter water clothing internet
3099  1. a good book 2. online gaming 3. passport 4....
4448  - my iphone to facilitate my every mission. - ...
5515                                                NaN
8485                                                NaN
8664  my girls, you, sex, a sunny tropical beach, an...

                                                 essay6  \
2     it might sound cliche but its true: how to liv...
169   what to do in case of a major disaster. the ph...
749                                                 NaN
1217  trying to live life more in the present. seems...
1575  my friends, future, sports, traveling, and way...
1755  where i'm going to travel to next. i try to go...
2562  my personal problems. people i don't know very...
3099                        randomness. sometimes work.
4448  how to change the world with design, and how t...
5515  my future, my dream, my family, my guy (when i...
8485                                                NaN
8664  my future, getting away from it all, and wonde...

                                                 essay7  \
2     ideally a live music show or having dinner wit...
169   preparing for the zombie apocalypse. honestly,...
749                                                 NaN
1217  hanging out down at crissy field with my winds...
1575  hanging out with a group of friends, drinking ...
1755  either working, out of town, at home, or hangi...
2562         on the internet, or thinking about things.
3099  i tend to start on one path and then end up on...
4448  either at a local bar, club, or sitting in fro...
5515  working and trying to get out as quickly as i ...
8485                                                NaN
8664  maybe playing softball, unless the game was on...

                                                 essay8  \
2                  have three visible scars on my body.
169   i don't ski and i have never been to burning man.
749                                                 NaN
1217                                                NaN
1575  i like to dance around in my bedroom to boomin...
1755  that i wouldn't admit the most private thing o...
2562                 i'm an empty essay... fill me out.
3099  oh boy this is embarrassing...whenever i come ...
4448  when the mood strikes or the event is appropri...
5515                                                NaN
8485                                                NaN
8664                                                NaN

                                                 essay9  \
2     you want to leisurely enjoy sf, want to get a ...
169   you want to meet up for coffee, cocktails, dog...
749                                                 NaN
1217  the journey is just as important as the destin...
1575       you have a great smile and love to have fun.
1755  you want to chat, learn more about me, want to...
2562                                  you feel like it.
3099                        you'd like to get together.
4448  my partner and i are looking to meet open mind...
5515  you interested and care to write me, i guess ?...
8485                    you have a great sense of humor
8664  you want to talk, laugh, have dinner, a drink,...

                                     possible_match_ids  \
2     [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
169   [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
749   [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
1217  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
1575  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
1755  [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
2562  [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
3099  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
4448  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...
5515  [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
8485  [0, 1, 2, 5, 6, 7, 8, 13, 15, 16, 20, 22, 23, ...
8664  [3, 4, 9, 10, 11, 12, 14, 17, 18, 19, 21, 24, ...

                                         top_compatible
2     {'index': [3990, 1043, 3429, 1106, 7823, 1416,...
169   {'index': [4428, 7779, 6108, 7684, 1490, 1471,...
749   {'index': [9631, 3447, 8490, 1822, 3483, 5606,...
1217  {'index': [8879, 5203, 6285, 8608, 864, 8265, ...
1575  {'index': [2524, 3190, 3243, 4626, 8917, 737, ...
1755  {'index': [592, 5291, 7941, 3834, 7040, 6271, ...
2562  {'index': [3148, 9446, 5992, 2865, 133, 8425, ...
3099  {'index': [9672, 2404, 1727, 4012, 7270, 5308,...
4448  {'index': [1154, 4129, 2447, 6700, 5786, 5364,...
5515  {'index': [1194, 8037, 9339, 6428, 3494, 7323,...
8485  {'index': [2314, 244, 1167, 2329, 946, 565, 24...
8664  {'index': [948, 306, 952, 8783, 5958, 8901, 15...

[12 rows x 34 columns]